# I prefer setters().chaining() and DRY principe
config.stopBubbling = true
lombok.accessors.chain = true

# These annotations below will be copied from the field definitions to a constructor
# Btw by default this action doen't prevent `double injection` via BeanDefinition
# and BeanPostProcessor. Registering custom AutowiredAnnotationBeanPostProcessor
# may fix this behaviour. Or just use final fields and @RequiredArgsContructor instead :)
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
